body {
    margin: 5%;
    background: black;
    font-family: monospace;
}

.main {
    padding: 20px;
    border-style: solid;
    border-color: white;
    border-radius: 25px;
}

.header, .footer {
    margin-left: 5%;
    margin-right: 5%;
}

.header {
    margin-top: 5%;
    margin-bottom: 1%;
}

.footer {
    margin-top: 1%;
    margin-bottom: 5%;
    text-align: right;
}

h1 {
    font-size: 32px;
    color: #72ddf7;
}

h2 {
    font-size: 24px;
    color: #f7aef8;
    font-style: italic;
}

p {
    font-size: 16px;
    color: white;
}

a:link {
    font-size: 16px;
    color: white;
}

a:visited {
    font-size: 16px;
    color: #b388eb;
}