body {
	background: linear-gradient(#202763, #582063);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;

	--sans: Helvetica,Arial,Sans-Serif;
	--serif: Baskerville,Georgia,Times,Serif;
	--mono: Courier,Monospace;
}

.main, .header, .footer {
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.main {
	background-color: #1d1c1f;
	border: 2px solid white;
	border-radius: 10px;
	padding: 15px;
	margin-bottom: 15px;
}

.header, .footer {
	margin-bottom: 10px;
	font-family: var(--sans);
	color: white;
	font-size: 12pt;
}

.header {
	margin-top: 3%;
	text-align: left;
}

.footer {
	margin-top: 20px;
	text-align: right;
}

.header h1 {
	font-size: 48px;
	line-height: 0;
}

.blk-icon img {
	-webkit-filter:invert(100%);
}

.pages {
	font-family: var(--serif);
	color: white;
	font-size: 14pt;
}

h1 {
	color: white;
	font-family: var(--sans); 
	font-size: 28pt;
	margin-top: 0;
}

h2 {
	color: white;
	font-family: var(--sans);
	font-size: 20pt;
}

p, ul {
	color: white;
	font-family: var(--serif);
	font-size: 14pt;
	font-weight: 100;
}

a {
	color: white;
}
